In [2]:
import pandas as pd
import numpy as np

In [5]:
trans_df = pd.read_csv('../../../data/cabot_data/sprint_2/trans_s2_raw.csv', index_col=['LOOK_DATE', 'INTRADAY'])

In [6]:
# reset to number index
trans_df = trans_df.reset_index()
trans_df.index += 1
trans_df

        LOOK_DATE  INTRADAY            PRODUCT
1      2018-01-02         1   ('CD', 32, 4, 2)
2      2018-01-02         2   ('DD', 25, 4, 2)
3      2018-01-02         3   ('DD', 25, 4, 2)
4      2018-01-02         4  ('DKB', 39, 4, 3)
5      2018-01-02         5   ('DK', 36, 4, 1)
6      2018-01-02         6  ('DKB', 39, 4, 3)
7      2018-01-02         7  ('4BV', 36, 4, 3)
8      2018-01-02         8  ('4BV', 21, 5, 4)
9      2018-01-02         9   ('DD', 32, 4, 2)
10     2018-01-02        10   ('CK', 25, 4, 2)
11     2018-01-02        11   ('CK', 20, 5, 3)
12     2018-01-02        12   ('DK', 36, 4, 1)
13     2018-01-02        13   ('DK', 32, 4, 1)
14     2018-01-02        14   ('CD', 35, 3, 4)
15     2018-01-02        15  ('4BV', 36, 4, 3)
16     2018-01-02        16   ('DD', 25, 4, 2)
17     2018-01-02        17   ('DK', 25, 4, 2)
18     2018-01-02        18                NaN
19     2018-01-02        19                NaN
20     2018-01-02        20                NaN
21     2018-01-02        21                NaN
22     2018-01-02        22                NaN
23     2018-01-02        23                NaN
24     2018-01-02        24                NaN
25     2018-01-02        25                NaN
26     2018-01-02        26                NaN
27     2018-01-02        27                NaN
28     2018-01-02        28                NaN
29     2018-01-02        29                NaN
30     2018-01-02        30                NaN
...           ...       ...                ...
24190  2018-10-27        52                NaN
24191  2018-10-27        53                NaN
24192  2018-10-27        54                NaN
24193  2018-10-27        55                NaN
24194  2018-10-27        56                NaN
24195  2018-10-27        57                NaN
24196  2018-10-27        58                NaN
24197  2018-10-27        59                NaN
24198  2018-10-27        60                NaN
24199  2018-10-27        61                NaN
24200  2018-10-27        62                NaN
24201  2018-10-27        63                NaN
24202  2018-10-27        64                NaN
24203  2018-10-27        65                NaN
24204  2018-10-27        66                NaN
24205  2018-10-27        67                NaN
24206  2018-10-27        68                NaN
24207  2018-10-27        69                NaN
24208  2018-10-27        70                NaN
24209  2018-10-27        71                NaN
24210  2018-10-27        72                NaN
24211  2018-10-27        73                NaN
24212  2018-10-27        74                NaN
24213  2018-10-27        75                NaN
24214  2018-10-27        76                NaN
24215  2018-10-27        77                NaN
24216  2018-10-27        78                NaN
24217  2018-10-27        79                NaN
24218  2018-10-27        80                NaN
24219  2018-10-27        81                NaN

[24219 rows x 3 columns]