In [113]:
import pandas as pd
import numpy as np
import os
from datetime import timedelta, date
from ast import literal_eval

'''This script produces a file which contains the book-arrive delta for each transaction.'''

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

# load transaction data
trans_df = pd.read_csv('../../../data/cabot_data/sprint_3/trans_s3_raw.csv',
                       parse_dates=['LOOK_DATE']) # transactions with date

In [114]:
# convert strings tot uples
trans_df['PRODUCT'] = [0 if str(x) == 'nan' else literal_eval(x) for x in trans_df['PRODUCT']]

# get look days
trans_df['LOOK_DAY'] = trans_df['LOOK_DATE'].dt.week * 7 - 7 + trans_df['LOOK_DATE'].dt.dayofweek

# get arrival days
get_day = lambda x: x[1] * 7 - 7 + x[2] if x != 0 else 'nan'
trans_df['ARRIVAL_DAY'] = trans_df['PRODUCT'].apply(get_day)

In [ ]:
trans_df['BA_DIFF'] = [ if str(x) == 'nan' else literal_eval(x) for x in trans_df['PRODUCT']]

In [115]:
trans_df

       LOOK_DATE  INTRADAY          PRODUCT  LOOK_DAY ARRIVAL_DAY
0     2018-01-02         1   (CD, 32, 4, 2)         1         221
1     2018-01-02         2   (DD, 25, 4, 2)         1         172
2     2018-01-02         3   (DD, 25, 4, 2)         1         172
3     2018-01-02         4  (DKB, 39, 4, 3)         1         270
4     2018-01-02         5   (DK, 36, 4, 1)         1         249
5     2018-01-02         6  (DKB, 39, 4, 3)         1         270
6     2018-01-02         7  (4BV, 36, 4, 3)         1         249
7     2018-01-02         8  (4BV, 21, 5, 4)         1         145
8     2018-01-02         9   (DD, 32, 4, 2)         1         221
9     2018-01-02        10   (CK, 25, 4, 2)         1         172
10    2018-01-02        11   (CK, 20, 5, 3)         1         138
11    2018-01-02        12   (DK, 36, 4, 1)         1         249
12    2018-01-02        13   (DK, 32, 4, 1)         1         221
13    2018-01-02        14   (CD, 35, 3, 4)         1         241
14    2018-01-02        15  (4BV, 36, 4, 3)         1         249
15    2018-01-02        16   (DD, 25, 4, 2)         1         172
16    2018-01-02        17   (DK, 25, 4, 2)         1         172
17    2018-01-02        18                0         1         nan
18    2018-01-02        19                0         1         nan
19    2018-01-02        20                0         1         nan
20    2018-01-02        21                0         1         nan
21    2018-01-02        22                0         1         nan
22    2018-01-02        23                0         1         nan
23    2018-01-02        24                0         1         nan
24    2018-01-02        25                0         1         nan
25    2018-01-02        26                0         1         nan
26    2018-01-02        27                0         1         nan
27    2018-01-02        28                0         1         nan
28    2018-01-02        29                0         1         nan
29    2018-01-02        30                0         1         nan
...          ...       ...              ...       ...         ...
24189 2018-10-27        52                0       299         nan
24190 2018-10-27        53                0       299         nan
24191 2018-10-27        54                0       299         nan
24192 2018-10-27        55                0       299         nan
24193 2018-10-27        56                0       299         nan
24194 2018-10-27        57                0       299         nan
24195 2018-10-27        58                0       299         nan
24196 2018-10-27        59                0       299         nan
24197 2018-10-27        60                0       299         nan
24198 2018-10-27        61                0       299         nan
24199 2018-10-27        62                0       299         nan
24200 2018-10-27        63                0       299         nan
24201 2018-10-27        64                0       299         nan
24202 2018-10-27        65                0       299         nan
24203 2018-10-27        66                0       299         nan
24204 2018-10-27        67                0       299         nan
24205 2018-10-27        68                0       299         nan
24206 2018-10-27        69                0       299         nan
24207 2018-10-27        70                0       299         nan
24208 2018-10-27        71                0       299         nan
24209 2018-10-27        72                0       299         nan
24210 2018-10-27        73                0       299         nan
24211 2018-10-27        74                0       299         nan
24212 2018-10-27        75                0       299         nan
24213 2018-10-27        76                0       299         nan
24214 2018-10-27        77                0       299         nan
24215 2018-10-27        78                0       299         nan
24216 2018-10-27        79                0       299         nan
24217 2018-10-27        80                0       299         nan
24218 2018-10-27        81                0       299         nan

[24219 rows x 5 columns]

0        221
1        172
2        172
3        270
4        249
5        270
6        249
7        145
8        221
9        172
10       138
11       249
12       221
13       241
14       249
15       172
16       172
17       nan
18       nan
19       nan
20       nan
21       nan
22       nan
23       nan
24       nan
25       nan
26       nan
27       nan
28       nan
29       nan
        ...
24189    nan
24190    nan
24191    nan
24192    nan
24193    nan
24194    nan
24195    nan
24196    nan
24197    nan
24198    nan
24199    nan
24200    nan
24201    nan
24202    nan
24203    nan
24204    nan
24205    nan
24206    nan
24207    nan
24208    nan
24209    nan
24210    nan
24211    nan
24212    nan
24213    nan
24214    nan
24215    nan
24216    nan
24217    nan
24218    nan
Name: PRODUCT, Length: 24219, dtype: object

In [45]:
trans_df['PRODUCT']

0         ('CD', 32, 4, 2)
1         ('DD', 25, 4, 2)
2         ('DD', 25, 4, 2)
3        ('DKB', 39, 4, 3)
4         ('DK', 36, 4, 1)
5        ('DKB', 39, 4, 3)
6        ('4BV', 36, 4, 3)
7        ('4BV', 21, 5, 4)
8         ('DD', 32, 4, 2)
9         ('CK', 25, 4, 2)
10        ('CK', 20, 5, 3)
11        ('DK', 36, 4, 1)
12        ('DK', 32, 4, 1)
13        ('CD', 35, 3, 4)
14       ('4BV', 36, 4, 3)
15        ('DD', 25, 4, 2)
16        ('DK', 25, 4, 2)
17                     NaN
18                     NaN
19                     NaN
20                     NaN
21                     NaN
22                     NaN
23                     NaN
24                     NaN
25                     NaN
26                     NaN
27                     NaN
28                     NaN
29                     NaN
               ...
24189                  NaN
24190                  NaN
24191                  NaN
24192                  NaN
24193                  NaN
24194                  NaN
24195                  NaN
24196                  NaN
24197                  NaN
24198                  NaN
24199                  NaN
24200                  NaN
24201                  NaN
24202                  NaN
24203                  NaN
24204                  NaN
24205                  NaN
24206                  NaN
24207                  NaN
24208                  NaN
24209                  NaN
24210                  NaN
24211                  NaN
24212                  NaN
24213                  NaN
24214                  NaN
24215                  NaN
24216                  NaN
24217                  NaN
24218                  NaN
Name: PRODUCT, Length: 24219, dtype: object

In [ ]:
# add stay len col to df_data
purchases_df['stay_len'] = (purchases_df['DEPART'] - purchases_df['ARRIVAL']).dt.days
# anything greater than 4 is 4
purchases_df['stay_len'] = purchases_df['stay_len'].apply(lambda x: 4 if x > 4 else x)

# initialize some helper vars
df_grouped = purchases_df.groupby(by=['LOOK_DATE']).count()
periods_per_day = df_grouped['DEPART'].max()

look_start = purchases_df['LOOK_DATE'].min()
look_end = purchases_df['LOOK_DATE'].max()

ssn_start = purchases_df['ARRIVAL'].min()
ssn_end = purchases_df['ARRIVAL'].max()