In [1]:
import pandas as pd

In [141]:
df = pd.read_csv('data/2018_original.csv',
                 parse_dates=['ARRIVAL', 'DEPART', 'BOOKING'],
                 dayfirst=True)
df_units = pd.read_csv('data/room_number_type_mapping.csv',
                       dtype={'room_number': object})

In [142]:
df.groupby('CANCEL_INDICATOR').count()

                    UNIT   RESNO  ARRIVAL  DEPART  BOOKING
CANCEL_INDICATOR
0                 184721  184721   184721  184721   184721
1                    598     598      598     598      598

In [143]:
df = df.drop_duplicates()

In [144]:
df.groupby('CANCEL_INDICATOR').count()

                   UNIT  RESNO  ARRIVAL  DEPART  BOOKING
CANCEL_INDICATOR
0                 10532  10532    10532   10532    10532
1                   387    387      387     387      387

In [145]:
# convert units to codes
df['UNIT'] = df['UNIT'].astype(str)
room_mapping_df = df_units.set_index('room_number')
room_mapping_dict = room_mapping_df.to_dict()['room_type']
df['UNIT_num'] = df['UNIT'].copy()
df['UNIT'] = df['UNIT'].replace(room_mapping_dict)
df['UNIT_num'] = df['UNIT_num'].astype(int)

In [146]:
# create group ID's
df['group_id'] = df.groupby(['UNIT_num', 'ARRIVAL', 'DEPART']).ngroup()

df = df.set_index('group_id')

group_id
0       5
1       4
2       2
3       4
4       1
5       2
6       3
7       4
8       6
9       4
10      4
11      3
12      3
13      4
14      4
15      7
16      1
17      4
18      1
19      4
20      1
21      7
22      1
23      4
24      4
25      4
26      4
27      1
28      1
29      4
       ..
5934    1
5935    4
5936    2
5937    1
5938    1
5939    1
5940    2
5941    1
5942    1
5943    2
5944    1
5945    2
5946    3
5947    4
5948    1
5949    1
5950    1
5951    2
5952    2
5953    1
5954    1
5955    3
5956    1
5957    2
5958    2
5959    2
5960    1
5961    1
5962    1
5963    1
Length: 5964, dtype: int64